{% extends "layout.html" %}
{% block content %}
    <div class="strategy-container">
        <div class="strategy-header">
            <a href="/" class="back-link">← Back to Stocks</a>
            <h1 class="strategy-name mt-3">{{strategy.name}}</h1>
        </div>
        <div class="stock-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Company Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td><a href="{{ url_for('stock_detail', symbol=stock.symbol) }}" class="stock-link">{{ stock.symbol }}</a></td>
                        <td>{{ stock.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}